/* App specific styles */

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: color 0.2s duration;
}

button {
  transition: all 0.2s duration;
}

input[type="checkbox"]:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}

select:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}
